<section class="activity-section-1">
  <ion-grid>
    <ion-row class="activity-row-1">
      <ion-col class="activity-col-1">
        <ion-icon name="person-outline"></ion-icon><br>
        <span class="span-1">8</span>
        <ion-label>1000</ion-label><br>
        <ion-label>Follow</ion-label>
      </ion-col>
      <ion-col class="activity-col-1">
        <ion-icon name="heart-outline"></ion-icon><br>
        <span class="span-2">6</span>
        <ion-label>450</ion-label><br>
        <ion-label>Likes</ion-label>
      </ion-col>
      <ion-col class="activity-col-1">
        <ion-icon name="camera-outline"></ion-icon><br>
        <ion-label>500</ion-label><br>
        <ion-label>Shorts</ion-label>1
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<section class="activity-section-2">
  <ion-grid>
    <ion-row class="activity-row-2">
      <ion-col class="activity-col-2">
        <ion-icon name="chatbox-ellipses-outline"></ion-icon><br>
        <ion-label>Chat</ion-label>
      </ion-col>
      <ion-col class="activity-col-2">
        <ion-icon name="mail-outline"></ion-icon><br>
        <ion-label>Inbox</ion-label>
      </ion-col>
      <ion-col class="activity-col-2 col-2-highlight">
        <ion-icon name="image-outline"></ion-icon><br>
        <ion-label>Gallery</ion-label>
      </ion-col>
      <ion-col class="activity-col-2">
        <ion-icon name="map-outline"></ion-icon><br>
        <ion-label>Activity</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>