<ion-grid>
  <ion-row style="align-items: center; margin-top: -0.6rem;">
    <ion-col style="position: relative; top: 0.1rem;">
      <ion-icon class="ellipsis-icon" name="ellipsis-horizontal"></ion-icon>
      <ion-icon class="ellipsis-outline-icon" name="ellipsis-horizontal-outline"></ion-icon>
    </ion-col>
    <ion-col class="status-col" style="align-items: center; justify-content: center;" size-xl="1.9">
      <ion-label>Applidium</ion-label>
    </ion-col>
    <ion-col class="status-col" size-xl="1.2">
      <ion-icon name="wifi"></ion-icon>
    </ion-col>

    <ion-col class="status-col" size-xl="3">
      <ion-label style="text-align: center;">11:27 AM</ion-label>
    </ion-col>

    <ion-col class="status-col charge">
      <ion-label>100%</ion-label>
    </ion-col>
    <ion-col style="text-align: right; color: white;">
      <ion-icon name="battery-full"></ion-icon>
    </ion-col>


  </ion-row>
</ion-grid>