ion-icon {
    font-size: 18px;
}

.status-col {
    font-size: 13px;
    color: #ffffffd2;
    align-items: center;
    padding: 0;
    margin: 0;
}

.ellipsis-icon {
    font-size: 25px;
    color: white;
}

.ellipsis-outline-icon {
    font-size: 25px;
    color: rgba(255, 255, 255, 0.575);
}

.charge {
    position: relative;
    left: 4rem;
}